/* contact section */
@media only screen and (max-width: 768px){
    #contact-description{
        font-size:1.2rem;
    }
    #contact-section .row{
        flex-direction: column;
        align-items: center;
    }
    .contact-box{
        width:70%;
        height:20vh;
        margin-top:30px;
    }
    .contact-box div:nth-of-type(1){
        margin-top:30px;
    }

    #iesy-section{
        display: flex;
        flex-direction: column;
        
    }
    .iesy-benefits{
        width:100%;
        height:33.3%;
        position: static !important;
        margin-left:0% !important;
    }
    .iesy-benefits p{
        font-size:1.5rem;
    }
    #iesy-section .iesy-benefits:nth-child(3){
        background-color: rgba(0, 0, 0, 0.215) !important;
    }
    .iesy-article{
        font-size:1.7rem;
        margin-top:20%;
    }



    #about-us-section .row{
        display: block;
    }
    #about-us-section #about-us-description-box{
        width:100%;
        font-size:1rem;
    }
    #about-us-section #about-us-description-box p{
        font-size:1.1rem;
        width:80%;
    }
    #about-us-section #about-us-image-box{
        width:100%;
    }


    nav li{
        font-size:1rem !important;
    }
    nav ul{
        margin-left:0vw;
    }
}