@media only screen and (max-width:1000px){
    .contact-box{
        width:70%;
        height:20vh;
        margin-top:30px;
    }
    .contact-box div:nth-of-type(1){
        margin-top:30px;
    }
    .contact-box > h3{
        font-size: 1.1rem;
    }
    #contact-section .row{
        flex-direction: column;
        align-items: center;
    }
    .contact-box div:nth-of-type(1){
        margin-top:15px;
    }
}
@media only screen and (max-width: 768px){
   
    #video-h1{
        font-size:10vw;
    }

    #contact-heading{
        margin-left:0%;
    }
    #contact-description{
        width: 80%;
        margin-left:10%;

    }
    #contact-heading > p{
        text-align: center;
    }
    #contact-section .section-main-h1{
        width: auto !important;
    }
    #country-flags div{
        width:30px !important;
    }

    #contact-description{
        font-size:1.2rem;
    }



    #iesy-section{
        display: flex;
        flex-direction: column;
        
    }
    .iesy-benefits{
        width:100%;
        height:33.3%;
        position: static !important;
        margin-left:0% !important;
    }
    .iesy-benefits p{
        font-size:1.5rem;
    }
    #iesy-section .iesy-benefits:nth-child(3){
        background-color: rgba(0, 0, 0, 0.215);
    }
    .iesy-article{
        font-size:1.1rem;
        margin-top:20%;
    }

    .contact-box div{
        margin-top:0%;
    }
    .contact-box div:nth-of-type(1){
        margin-top:5px;
    }

    #about-us-section .row{
        display: block;
    }
    #about-us-section #about-us-description-box{
        width:100%;
        font-size:1rem;
    }
    #about-us-section #about-us-description-box p{
        font-size:1.4rem;
        width:80%;
    }
    #about-us-section #about-us-image-box{
        width:100%;
    }


    nav li{
        font-size:1.9vw !important;
    }
    nav ul{
        margin-left:0vw;
    }
    nav ul li{
        margin-left:0vw;
    }
    
}



@media only screen and (max-width: 550px){
    #scroll-dots-holder{
        display: none;
    }
  
    nav ul{
        display: none;
    }
    #country-flags{
        display: none !important;
    }
    #country-flags.flags-mobile{
        margin-left: initial;
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: max-content !important;
        height: max-content !important;
    }
    #country-flags.flags-mobile div{
        height:50px;
        width: 50px !important;
        border-radius: 50%;
    }

    .contact-box div p,.contact-box span{
        font-size:1rem;
    }

    .contact-box{
        height:15vh;
    }
    .contact-box span{
        font-size:1.5rem;
    }

    #hamburger-icon-mobile{
        display: block;
        width:70px;
        height:50%;
        margin-left: auto;
        cursor: pointer;
        transition: 0.3s ease-in;
    }
    #mobile-menu-outer{
        top:0;
        left:-100vw;
        height:100vh;
        width:100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index:101;
        position: fixed;
        background-color: var(--black-fumoco);
        color: var(--white-fumoco);
        transition: 1s ease-in-out;
    }
    #mobile-menu-outer ul{
        list-style: none;
        list-style-type: none;
    }
    #mobile-menu-outer li{
        color: var(--white-fumoco);
        text-align: center;
        font-size:2rem;
        margin:50px;
        position: relative;
    }

    #mobile-menu-outer li::before{
        content:"";
        position: absolute;
        width:0%;
        height:110%;
        background-color: var(--green-fumoco);
        top:0%;
        left:0%;

        z-index:-1;
        transition: 0.2s ease-out;
    }
    #mobile-menu-outer li:hover::before{
        width:110%;
    }
    #close-icon-mobile{
        position: absolute;
        top:5%;
        right:5%;
        width:30px;
        height:30px;
    }
    #close-icon-mobile img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #hamburger-icon-mobile img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
}