@font-face {
    font-family: "NexaDemo-Bold";
    src: url("../font/NexaDemo-Bold.ttf");
}
@font-face{
    font-family: "NexaDemo-Light";
    src: url("../font/NexaDemo-Light.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Light.ttf");
}


*{
    margin:0;
    padding:0;
    /* font-family: 'NexaDemo-Light', Arial; */
    font-family:'Roboto',Arial;
    font-weight: lighter;
    scroll-behavior: smooth;
    --black-fumoco: #1B232A;
    --grey-fumoco: #36424A;
    --white-fumoco: #DFE5E6;
    --green-fumoco: #70D551;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', Arial;
}
.row{
    width:100%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color:inherit;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.section-main-h1{
    padding-top:30px;
    font-size:4rem;
    width: fit-content;
    text-align: center;
    height:fit-content;
    align-self:center;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
  }

  #fullpage-wrapper{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  #fullpage-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  #fullpage-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #scroll-dots-holder{
    position: fixed;
    right:10px;
    top:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index:999;
  }
  #scroll-dots-holder > ul{
    list-style-type:none;
  }
  .scroll-dot{
    position: relative;
    cursor: pointer;
    margin:30px;
    width: 8px;
    height:8px;
    background-color: var(--white-fumoco);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
  }
  .scroll-dot a{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
  }
  .scroll-dot[section-scrolled-active="true"]{
    transform: scale(2);
    background-color: var(--green-fumoco)
  }
  #scroll-dots-holder:hover  .scroll-dot[section-scrolled-active="true"]{
    transform: scale(1.5);
  }
  #scroll-dots-holder:hover  .scroll-dot{
    transform: scale(1);
  }
  .scroll-dot:hover{
    transform: scale(2) !important;
    background-color: var(--green-fumoco) !important;
  }
  /* .scroll-dot:hover ~ .scroll-dot{
    background-color: blue;
  } */
  
  
  section {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-stop: always;
    color:white;
  }

body::-webkit-scrollbar-thumb:hover{
    display: none;
    background-color: var(--green-fumoco);
}
body::-webkit-scrollbar {
    display: none;
    width: 8px;
    height: 8px;
    margin-left:100px;
  }
  body::-webkit-scrollbar-track {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb {
    display: none;
    background-color: #dfdfdf;
    border-radius: 10px;
    transition: 0.5 ease-in-out;
  }
  #progressbar{
    position: fixed;
    top:0;
    right:0;
    width:20px;
    background: var(--green-fumoco);
   
    z-index:99;
}




body{
    background-color: var(--black-fumoco);
    overflow-y: scroll;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
body, html {
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
  }


#scroll-helper{
    position: fixed;
    bottom:5%;
    right:2%;
    background-color: var(--green-fumoco);
    color:var(--black-fumoco);
    width:6rem;
    height:6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition-property: opacity;
    opacity: 0;
    transition: 0.6s ease-in-out;
    z-index:9999;
}
#scroll-helper span{
    font-size:4rem;
    position: relative;
}
#scroll-banner-down{
    position: absolute;
    bottom:30px;
    left:50%;
    border:3px solid var(--white-fumoco);
    height:50px;
    width:25px;
    border-radius: 20px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.video-banner{
object-fit: cover;
  z-index:-1;
  top:50%;
  left:50%;
  height: auto;
  width: auto;
  
  min-height: 100vh;
  min-width: 100vw;
  transform: translate(-50%, -50%);
  position: absolute; /* magic sauce */
}
#overlaping-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #182127bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#video-h1{
    font-size:4rem;
    font-weight: bold;
    letter-spacing: 3px;
}
#overlaping-shadow a{
    margin-top:65px;
}
#video-link-outer{
    border-bottom:2px solid var(--white-fumoco);
    transition: 0.2s ease-in-out;
    padding:20px 40px 20px 40px;
    position: relative;
    z-index:1;
}
#video-link-outer::before{
    content:'';
    position: absolute;
    width: 0%;
    height: 2px;
    transition: 0.5s ease-in-out;
    top:100%;
    left:0%;
    background-color: var(--green-fumoco);
    z-index:-1;
}
#video-link-outer:hover::before{
    width: 100%;
}
#video-link-outer p{
    font-size:1.2rem;
    letter-spacing: 3px;
    font-weight:400;
    z-index:1;
    transition: 0.5s ease;
}
@media (min-aspect-ratio: 16/9){
    .video-text{
        display: block;
    }
    .video-no-text{
        display: none;
    }
}
@media (max-aspect-ratio: 16/9){
    .video-text{
        display: none;
    }
    .video-no-text{
        display: block;
    }
    #media-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20%;
        left:20%;
        padding:15px 30px 15px 30px;
        outline:none;
        border:none;
        color:var(--black-fumoco);
        background-color: var(--green-fumoco);
        cursor: pointer;
        font-size:1.7rem;
    }
}
#about-us-section{
    background-image: url("../img/iesy-animation/no-text.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hamburger-icon-mobile{
    display: none;
}
#mobile-menu-outer{
    display: none;
}
#scroll-banner-down > span{
    text-decoration: none;
    font-size:1.3rem;
    width:10px;
    heighT:10px;
    font-family:Arial, Helvetica, sans-serif;
    border-top:2px solid white;
    border-right:2px solid white;
    transform: rotate(135deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scroll-banner-down > span::before{
    content:'';
    position: absolute;
    top:50%;
    right:50%;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-top:2px solid white;
    border-right:2px solid white;
}

#scroll-banner-down:hover span{
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes slide-down{
    from{margin-top:0%;}
    to{margin-top:300%}
}

#iesy-text-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/* #iesy-text-section h1{
    margin-bottom:10vh;
} */

/* #scroll-banner-down a:hover{
    transform: translateY(10px);
    transform: rotate(135deg); 
} */
/*
==================================================================================
animation start
==================================================================================
*/
#animation-holder{
    background-color: var(--black-fumoco);
    color:var(--white-fumoco);
    display: flex;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:999999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#animation-holder img{
    max-width:50%;
}

#loading-bar{
    margin-top:50px;
    width:30%;
    height:1vh;
    background-color: grey;
    position: relative;
    border-radius: 20px;
    -webkit-box-shadow: 2px 3px 45px -8px rgba(66, 68, 90, 1);
-moz-box-shadow: 2px 3px 45px -8px rgba(66, 68, 90, 1);
box-shadow: 2px 3px 45px -8px rgba(66, 68, 90, 1);
}
#loading-bar::before{
    content:"";
    position: absolute;
    background-color: var(--green-fumoco);
    left:0%;
    height:100%;
    border-radius: 20px;
    width:0%;
    transition: 4s ease;
    animation-name: loadingAnimation;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-box-shadow: 2px 3px 100px 5px  var(--green-fumoco);
    -moz-box-shadow: 2px 3px 100px 5px  var(--green-fumoco);
    box-shadow: 2px 3px 100px 5px  var(--green-fumoco);
}

#animation-holder *{
    opacity: 1;
    animation-name: opacityFade;
    animation-duration: 0.5s;
    animation-delay:5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadingAnimation{
    0%{
        width:0%; 
    }
    100%{
        width:100%;
    }
}

@keyframes opacityFade{
    0%{
        opacity:1
    }
    100%{
        opacity: 0;
    }
}


nav{
    width:80%;
    height:5vh;
    display: flex;
    background-color: var(--white-fumoco);
    justify-content: left;
    align-items: center;
    z-index:99;
    position: absolute;
    top:0;
    left:10%;
    /* background-color: var(--black-fumoco); */
    
}
nav a{
    text-decoration: none;
    color: var(--black-fumoco);
}

nav img{
    max-width: 25vh;
}
nav ul{
    margin-left:10vw;
}
nav ul li{
    list-style-type: none;
    display: inline;
    margin-left:5vw;
    font-size:1.3vw;
    cursor:pointer;
    position: relative;
    color:var(--black-fumoco);
    padding:10px;
    transition: 0.3s ease-in-out;
}

nav ul li::after{
    content: "";
    position: absolute;
    width:0%;
    height:2px;
    background-color: var(--green-fumoco);
    top:100%;
    left:0%;
    transition: 0.2s ease-in-out;
}

nav ul li:hover{
    background-color:var(--grey-fumoco);
    color:var(--white-fumoco);
   
}

main{
    width:100%;
}
#banner-main{
    max-width:100vw;
    height:100vh;
    position: relative;
    /* background-color: green; */
    color:var(--white-fumoco);
    /* background-image: url("./res/img/baner/IESY\ BASE_v3\ BLUE.jpg");
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden; */
}
#media-button{
    display: block;
}

.banner-flex{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;

}

#fumoco-h1{
    font-size:5.5vw;
    padding-right:10%;
    border-bottom: 3px solid var(--green-fumoco);
}

#fumoco-note{
    padding-left: 10%;
    padding-right:10%;
    margin-left:10%;
    font-size:1.3vw;
    margin-top:3%;
    text-align: left;
    
}

#banner-img-holder{
    margin-left:5vw;
    margin-bottom:5vw;
    background-color: rgb(63, 63, 63);
    width: 40vw;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("res/img/baner/IESY\ BASE_v3\ BLUE.jpg");
}

#banner-img-holder img{
    max-width:80%;
    -webkit-box-shadow: 0px 6px 18px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 6px 18px -10px rgba(66, 68, 90, 1);
box-shadow: 0px 6px 18px -10px rgba(66, 68, 90, 1);
}
#landing-text-holder{
    position: absolute;
    top:20%;
    left:10%;
    height: 300px;
    width: 300px;
    background-color: rgba(255, 0, 0, 0.053)(0, 0, 0);
    z-index:99;
}
#landing-text-holder h1{
    font-size:5rem;
    letter-spacing:2px;
    font-weight: bold;
    border-bottom:2px solid white;
}
#landing-text-holder p{
    margin-top:20px;
    font-size:1.5rem;
}
#video-button{
    outline:none;
    bordeR:none;
    background-color: var(--grey-fumoco);
    color:var(--white-fumoco);
    width:60%;
    margin-top:20px;
    font-size:1.5rem;

    cursor:pointer;
    padding:5px;
    position: relative;
    z-index:1;
}
#video-button::before{
    content:'';
    position: absolute;
    width:0%;
    height:100%;
    background-color: #182127;
    top:0;
    left:0;

    z-index:-1;
    transition: 0.3s ease-in-out;;
}
#video-button:hover::before{
    width:100%;
}







.btn-flip{
    margin-top:30px;
	opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
    width:80%;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: 'NexaDemo-Bold';
	text-transform: uppercase;
}
	
.btn-flip:hover:after{
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

		
.btn-flip:hover::before{
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
	
	
.btn-flip:after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
	}
	
.btn-flip:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}










#banner-outer{
    width:100%;
    height:100vh;
}

.banner-img-holder{
    width:100vw !important;
    height:100vh !important;
    object-position: 50% 50%;

}
.banner-img-holder img{
    object-fit: cover;
    object-position: 10% 10%;
    max-width: 100%;
}
.banner-img-holder:nth-of-type(1){
    background-image: url("../img/baner/IESY\ STRETCHER_v3\ BLUE.jpg");
}

footer{
    background-color: var(--green-fumoco);
    width:100vw;
    height:20vh;
}
/*
==================================================================================
about us section
==================================================================================
*/
#about-us-description-box{
    width:80%;
    padding:50px;
    background-color: #000000a7;
}
#about-us-description-box p{
    text-align:start;
    margin-top:80px;
    font-size:2rem;
   
}
#about-us-description-box p:first-of-type{
    margin-top:10%;
}

#about-us-description-box span{
    font-weight: bold;
    color: var(--green-fumoco);
    
}






/*
==================================================================================
iesy section
==================================================================================
*/
#iesy-section{
    background-color: var(--grey-fumoco);
    color:var(--white-fumoco);
    background-image: url("../img/baner/IESY\ BASE_v3\ BLUE.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    
    
}
.iesy-benefits{
  
    position: absolute;
    width:33.3%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.293);
    transition: 0.5s ease-in;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iesy-benefits *{
    opacity: 1;
    font-size:2.5vw;
}
.iesy-benefits > p{
    font-size:"NexaDemo-Bold";
    padding:10px;
    text-align: center;
}
.iesy-benefits span{
    color:var(--green-fumoco);
    fill:var(--green-fumoco);
    font-size: 5rem;
}
.iesy-benefits:nth-of-type(2){
    margin-left:33.3%;
    background-color: rgba(0, 0, 0, 0.464);
}
.iesy-benefits:nth-of-type(3){
    margin-left:66.6%;
}
.iesy-benefits:nth-of-type(3) >p{
    padding:30px;
    
}
.iesy-benefits:hover{
    background-color:#70d55187 !important;
}




.iesy-article{
    position: relative;
    text-align: center;
    font-size:3px;
    margin-top:7%;
    background-color: var(--white-fumoco);
    color:black;
    padding:60px;
}
.iesy-article p::before{
    content:'"';
    font-size:6rem;
    width:50px;
    height:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top:10px;
    left:10px;
}

.iesy-article p::after{
    content:'"';
    font-size:6rem;
    width:50px;
    height:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom:10px;
    right:20px;
    transform: rotate(180deg);
}
.iesy-benefits-box{
    font-weight: bold;
    font-family: "NexaDemo-Bold";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--black-fumoco);
    border-radius: 2rem;
    height: fit-content;
    margin-top:5%;
    width: fit-content;
    font-size:2rem;
    padding:1em;
    margin-right:10%;
}
.iesy-benefits-box span{
    color:var(--green-fumoco);
    fill:var(--green-fumoco);
    font-size: 3rem;
}
.iesy-benefits-box p{
    margin-left:30px;
}
#iesy-section .row div{
    width:50%;
}

/*
==================================================================================
contact section
==================================================================================
*/
#contact-section{
    background-color: var(--black-fumoco);
    color:var(--white-fumoco);
    text-align: center;
    font-size:1.6vw;
    position: relative;
    overflow: hidden;
}

#contact-section .contact-hero-image{
    background-image: url("../img/other/contact2.webp");
    width:100%;
    height:60%;
    background-position: 0% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index:1;
    position: absolute;
}
#contact-heading{
    z-index:999;
    opacity:1;
    margin-left:20%;
    height:40%;
}
#contact-heading > p{
    text-align: left;
}


#contact-description{
    margin-top:2%;
    width:50%;
}


.contact-box::before{
    content:'';
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: var(--green-fumoco);
    top:0;
    left:70%;
    z-index:-1;
}
.contact-box span{
    color:var(--green-fumoco);
    font-size:2rem;
}


.contact-box > h3{
    font-size:1.6rem;
    position: relative;
}
.contact-box > h3::before{
    content:"";
    position: absolute;
    width: 0%;
    height:3px;
    background-color: var(--green-fumoco);
    top:100%;
    left:0;
    transition: 0.5s ease-out;
}
.contact-box:hover h3::before{
    width: 80%;
}




.section-main-h1{
    padding-top:30px;
    font-size:4rem;
    width: fit-content;
    text-align: center;
    height:fit-content;
    align-self:center;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
  }

  #fullpage-wrapper{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  #fullpage-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  #fullpage-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #scroll-dots-holder{
    position: fixed;
    right:10px;
    top:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index:9999;
  }
  #scroll-dots-holder > ul{
    list-style-type:none;
  }
  .scroll-dot{
    position: relative;
    cursor: pointer;
    margin:30px;
    width: 8px;
    height:8px;
    background-color: var(--white-fumoco);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
  }
  .scroll-dot a{
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    cursor: pointer;
    text-decoration: none;
  }
  .scroll-dot[section-scrolled-active="true"]{
    transform: scale(2);
    background-color: var(--green-fumoco)
  }
  #scroll-dots-holder:hover  .scroll-dot[section-scrolled-active="true"]{
    transform: scale(1.5);
  }
  #scroll-dots-holder:hover  .scroll-dot{
    transform: scale(1);
  }
  .scroll-dot:hover{
    transform: scale(2) !important;
    background-color: var(--green-fumoco) !important;
  }
  /* .scroll-dot:hover ~ .scroll-dot{
    background-color: blue;
  } */
  
  
  section {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-stop: always;
    color:white;
  }

body::-webkit-scrollbar-thumb:hover{
    display: none;
    background-color: var(--green-fumoco);
}
body::-webkit-scrollbar {
    display: none;
    width: 8px;
    height: 8px;
    margin-left:100px;
  }
  body::-webkit-scrollbar-track {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb {
    display: none;
    background-color: #dfdfdf;
    border-radius: 10px;
    transition: 0.5 ease-in-out;
  }
  #progressbar{
    position: fixed;
    top:0;
    right:0;
    width:20px;
    background: var(--green-fumoco);
   
    z-index:99;
}




body{
    background-color: var(--black-fumoco);
    overflow-y: scroll;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
body, html {
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
  }


#scroll-helper{
    position: fixed;
    bottom:5%;
    right:2%;
    background-color: var(--green-fumoco);
    color:var(--black-fumoco);
    width:6rem;
    height:6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition-property: opacity;
    opacity: 0;
    transition: 0.6s ease-in-out;
    z-index:9999;
}
#scroll-helper span{
    font-size:4rem;
    position: relative;
}
#scroll-banner-down{
    position: absolute;
    bottom:30px;
    left:50%;
    border:3px solid var(--white-fumoco);
    height:50px;
    width:25px;
    border-radius: 20px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#scroll-banner-down > span{
    text-decoration: none;
    font-size:1.3rem;
    width:10px;
    heighT:10px;
    font-family:Arial, Helvetica, sans-serif;
    border-top:2px solid white;
    border-right:2px solid white;
    transform: rotate(135deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scroll-banner-down > span::before{
    content:'';
    position: absolute;
    top:50%;
    right:50%;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-top:2px solid white;
    border-right:2px solid white;
}

#scroll-banner-down:hover span{
    animation-name: slide-down;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes slide-down{
    from{margin-top:0%;}
    to{margin-top:300%}
}

/* #scroll-banner-down a:hover{
    transform: translateY(10px);
    transform: rotate(135deg); 
} */
/*
==================================================================================
animation start
==================================================================================
*/
#animation-holder{
    background-color: var(--black-fumoco);
    color:var(--white-fumoco);
    display: flex;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    z-index:99999999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#animation-holder img{
    max-width:50%;
}

#loading-bar{
    margin-top:50px;
    width:30%;
    height:0.5vh;
    background-color: grey;
    position: relative;
    border-radius: 20px;
    -webkit-box-shadow: 2px 3px 45px -8px rgba(66, 68, 90, 1);
-moz-box-shadow: 2px 3px 45px -8px rgba(66, 68, 90, 1);
box-shadow: 2px 3px 45px -8px rgba(66, 68, 90, 1);
}
#loading-bar::before{
    content:"";
    position: absolute;
    background-color: var(--green-fumoco);
    left:0%;
    height:100%;
    border-radius: 20px;
    width:0%;
    transition: 4s ease;
    animation-name: loadingAnimation;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-box-shadow: 2px 3px 100px 5px  var(--green-fumoco);
    -moz-box-shadow: 2px 3px 100px 5px  var(--green-fumoco);
    box-shadow: 2px 3px 100px 5px  var(--green-fumoco);
}

#animation-holder *{
    opacity: 1;
    animation-name: opacityFade;
    animation-duration: 0.5s;
    animation-delay:5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadingAnimation{
    0%{
        width:0%; 
    }
    100%{
        width:100%;
    }
}

@keyframes opacityFade{
    0%{
        opacity:1
    }
    100%{
        opacity: 0;
    }
}


.btn-flip{
    margin-top:30px;
	opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
    width:80%;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: 'NexaDemo-Bold';
	text-transform: uppercase;
}
	
.btn-flip:hover:after{
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

		
.btn-flip:hover::before{
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
	
	
.btn-flip:after{
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
	}
	
.btn-flip:before{
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}










#banner-outer{
    width:100%;
    height:100vh;
}

.banner-img-holder{
    width:100vw !important;
    height:100vh !important;
    object-position: 50% 50%;

}
.banner-img-holder img{
    object-fit: cover;
    object-position: 10% 10%;
    max-width: 100%;
}
.banner-img-holder:nth-of-type(1){
    background-image: url("../img/baner/IESY\ STRETCHER_v3\ BLUE.jpg");
}




/*
==================================================================================
iesy section
==================================================================================
*/

.iesy-benefits{
  
    position: absolute;
    width:33.3%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.293);
    transition: 0.5s ease-in;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iesy-benefits *{
    opacity: 1;
    font-size:2.5vw;
}
.iesy-benefits > p{
    font-size:"NexaDemo-Bold";
    padding:10px;
    text-align: center;
}
.iesy-benefits span{
    color:var(--green-fumoco);
    fill:var(--green-fumoco);
    font-size: 5rem;
}
.iesy-benefits:nth-of-type(2){
    margin-left:33.3%;
    background-color: rgba(0, 0, 0, 0.464);
}
.iesy-benefits:nth-of-type(3){
    margin-left:66.6%;
}
.iesy-benefits:nth-of-type(3) >p{
    padding:30px;
    
}
.iesy-benefits:hover{
    background-color:#70d55187 !important;
}




.iesy-article{
    position: relative;
    width:40%;
    text-align: center;
    font-size:2.4vw;
    margin-top:7%;
}

#quote-author{
    margin-top:30px;
    font-size:1.5vw;
    text-align: center;
    color:rgb(200, 200, 200);
}

.iesy-benefits-box{
    font-weight: bold;
    font-family: "NexaDemo-Bold";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--black-fumoco);
    border-radius: 2rem;
    height: fit-content;
    margin-top:5%;
    width: fit-content;
    font-size:2rem;
    padding:1em;
    margin-right:10%;
}
.iesy-benefits-box span{
    color:var(--green-fumoco);
    fill:var(--green-fumoco);
    font-size: 3rem;
}
.iesy-benefits-box p{
    margin-left:30px;
}
#iesy-section .row div{
    width:50%;
}

/*
==================================================================================
contact section
==================================================================================
*/
#contact-section{
    background-color: var(--black-fumoco);
    color:var(--white-fumoco);
    text-align: center;
    font-size:1.6vw;
    position: relative;
    overflow: hidden;
}

#contact-section .contact-hero-image{
    background-image: url("../img/other/contact2.webp");
    width:100%;
    height:60%;
    background-position: 0% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index:1;
    position: absolute;
}
#contact-heading{
    z-index:100;
    opacity:1;
    margin-left:20%;
    height:40%;
}
#contact-heading > p{
    text-align: left;
}


#contact-description{
    margin-top:2%;
    width:50%;
}

.contact-box{
    background-color: var(--grey-fumoco);
    height:max-content;
    height:25vh;
    margin-top:2%;
    padding:20px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition-property: transform;
    transition: 0.3s ease-in-out;
    transform:translateY(0%);
    position: relative;
    z-index:99;
    transition:0.7 linear;
    z-index:2;
}
.contact-box::before{
    content:'';
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: var(--green-fumoco);
    top:0;
    left:70%;
    z-index:-1;
}
.contact-box span{
    color:var(--green-fumoco);
    font-size:2rem;
}


.contact-box > h3{
    position: relative;
}
.contact-box > h3::before{
    content:"";
    position: absolute;
    width: 0%;
    height:3px;
    background-color: var(--green-fumoco);
    top:100%;
    left:0;
    transition: 0.5s ease-out;
}
.contact-box:hover h3::before{
    width: 80%;
}

.contact-box div{
    font-size:1.5rem;
    margin-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
}
.contact-box div:nth-of-type(1){
    margin-top:10%;
}
.contact-box div p{
    margin-left:10px;
}

div#country-flags{
    display: flex;
    margin-right:10px;
    margin-left:auto;
}
div#country-flags div{
    margin:5px;
    position: relative;
    z-index:11;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:2.5rem;
    height:1.7rem;
    cursor:pointer;
}
div#country-flags div a{
    position: absolute;
    z-index:10;
    opacity: 0;
}
div#country-flags div[lang="en"]{
    background-image: url("../img/other/en-flag.png");
}
div#country-flags div[lang="de"]{
    background-image: url("../img/other/de-flag.png");
}
div#country-flags div[lang="fr"]{
    background-image: url("../img/other/fr-flag.png");
}







.contact-box div{
    margin-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 20px -10px rgba(66, 68, 90, 1);
}
.contact-box div:nth-of-type(1){
    margin-top:10%;
}
.contact-box div p{
    margin-left:10px;
}

















